{% load static %}
<html lang="en">
 <style type="text/css">
   .table-condensed{
  font-size: 12px;
}
 </style>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>Book Classifier</title>
    <!-- Bootstrap core CSS -->

  <link rel="stylesheet" type="text/css" href="{% static 'startbootstrap-scrolling-nav-gh-pages/vendor/bootstrap/css/bootstrap.min.css' %}" />
    <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'startbootstrap-scrolling-nav-gh-pages/css/modif.css' %}" />
  
  <style>
  </style>
  </head>
 <body id="page-top">


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Book Classifier</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container">
    <div class="row">

    <nav class="col-md-2 bg-light">
          <div class="sidebar-sticky" name="sideNav" id="sideNav">
            <ul class="nav flex-column">
              <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
                <h4 class="mr-2 mb-0">N </h4>
                <span class="mb-0 text-white lh-100 align-items-center">Navigation</span>
            </div>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#classify">
                  <span data-feather="home"></span>
                  Classify
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#preprocessing">
                <span data-feather="shopping-cart"></span>
                  Preprocessing
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#classification">
                  <span data-feather="users"></span>
                  Classfication
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#evaluation">
                <span data-feather="bar-chart-2"></span>
                  Evaluation
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">
                <span data-feather="layers"></span>
                  About
                </a>
              </li>
            </ul>
          </div>
        </nav>

   <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <section id="classify">
      <div class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <H1 class="mr-3" alt="" width="48" height="48">C</H1>
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Classify Your Sentiment</h6>
          <small>Book Classification</small>
        </div>
      </div>

        <div class="row">
        <div class="col-md-4 mx-auto">
          <img src="/static/images/book2.jpg" height="300" alt="" />
        </div>
        <div class="col-md-4 mx-auto" style="text-align:center;">
          <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
            <h5 class="mb-0 text-white lh-100">Naive Bayes</h5>
          </div>
          <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Positive</strong></td>
                    <td><strong>Negative</strong></td>
                    <td><strong>Netral</strong></td>
                    <td><strong>BR</strong></td>
                    <td><strong>% of net BR</strong></td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>{{ pos_mnb }}</td>
                      <td>{{ neg_mnb }}</td>
                      <td>{{ net_mnb }}</td>
                      <td>{{ br_mnb }}</td>
                      <td>{{ nbr_mnb }}</td>
                  </tr>
             </tbody>
           </table>
        </div>
        <div class="col-md-4 mx-auto" style="text-align:center;">
            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
              <h5 class="mb-0 text-white lh-100">Support Vector Machine</h5>
            </div>
            <table class="table table-sm bordered table-condensed">
                <thead>
                  <tr>
                      <td><strong>Positive</strong></td>
                      <td><strong>Negative</strong></td>
                      <td><strong>Netral</strong></td>
                      <td><strong>BR</strong></td>
                      <td><strong>% of BR</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>{{ pos_svc }}</td>
                      <td>{{ neg_svc }}</td>
                      <td>{{ net_svc }}</td>
                      <td>{{ br_svc }}</td>
                      <td>{{ nbr_svc }}</td>
                    </tr>
               </tbody>
             </table>
        </div>
        </div>
      </div>
    </section>

   <div class="container">
   <div class="row">
                   <div class="col-md-6 mx-auto" style="text-align:center;">
             <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
              <h5 class="mb-0 text-white lh-100">Naive Bayes</h5>
            </div>
            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
            <h5 class="mb-0 text-white lh-100">Accuracy</h5>
            </div>
            <pre><code>{{ accuracy }} % </code></pre>
          </div>

            <div class="col-md-6 mx-auto" style="text-align:center;">
             <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
              <h5 class="mb-0 text-white lh-100">Support Vector Machine</h5>
            </div>

            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
            <h5 class="mb-0 text-white lh-100">Accuracy</h5>
            </div>
            <pre><code>{{ acc_svc }} % </code></pre>
          </div>
   </div>
   </div>

  <section id="preprocessing">
  <div class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <H1 class="mr-3" alt="" width="48" height="48">P</H1>
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Preprocessing</h6>
          <small>Book Classification</small>
        </div>
  </div>
  <div class="row">    
  {% csrf_token %}
  <div class="col-lg-12 mx-auto" style="text-align:center;">
  <div class="accordion" id="accordionExample">

    <div class="card">
      <div class="card-header" id="heading8">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            Lower Case
          </button>
        </h5>
      </div>
      <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
        <div class="card-body">
        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Customer Review</strong></td>
                    <td><strong>Sentiment</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for book in cal %}
                  <tr>
                    <td>{{ cal.Review }}</td>
                    <td>{{ cal.Sentiment }}</td>
                  </tr>
              {% endfor %}
             </tbody>
           </table>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading8">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
              Normalization
            </button>
          </h5>
        </div>
        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
          <div class="card-body">
            
            <table class="table table-sm bordered table-condensed">
                  <thead>
                    <tr>
                        <td><strong>Customer Review</strong></td>
                        <td><strong>Sentiment</strong></td>
                      </tr>
                  </thead>
                  <tbody>
                  {% for book in normal %}
                      <tr>
                        <td>{{ normal.Review }}</td>
                        <td>{{ normal.Sentiment }}</td>
                      </tr>
                  {% endfor %}
                 </tbody>
               </table>
    
          </div>
        </div>
      </div>

      <div class="card">
          <div class="card-header" id="heading13">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                Convert Negation
              </button>
            </h5>
          </div>
          <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordionExample">
            <div class="card-body">
              
              <table class="table table-sm bordered table-condensed">
                    <thead>
                      <tr>
                          <td><strong>Customer Review</strong></td>
                          <td><strong>Sentiment</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for book in negation %}
                        <tr>
                          <td>{{ negation.Review }}</td>
                          <td>{{ negation.Sentiment }}</td>
                        </tr>
                    {% endfor %}
                   </tbody>
                 </table>
      
            </div>
          </div>
          </div>
    
          <div class="card">
              <div class="card-header" id="heading7">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Punctuation
                  </button>
                </h5>
              </div>
          
              <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                <div class="card-body">
          
                  <table class="table table-sm bordered table-condensed">
                        <thead>
                          <tr>
                              <td><strong>Customer Review</strong></td>
                              <td><strong>Sentimet</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for book in punctuation %}
                            <tr>
                              <td>{{ punctuation.Review }}</td>
                              <td>{{ punctuation.Sentiment }}</td>
                            </tr>
                        {% endfor %}
                       </tbody>
                     </table>
                  
                </div>
              </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading9">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                      Remove Stopword
                    </button>
                  </h5>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
                  <div class="card-body">
                    
                    <table class="table table-sm bordered table-condensed">
                          <thead>
                            <tr>
                                <td><strong>Customer Review</strong></td>
                                <td><strong>Sentiment</strong></td>
                              </tr>
                          </thead>
                          <tbody>
                          {% for book in stopword %}
                              <tr>
                                <td>{{ stopword.Review }}</td>
                                <td>{{ stopword.Sentiment }}</td>
                              </tr>
                          {% endfor %}
                         </tbody>
                       </table>
            
                  </div>
                </div>
                </div>

{#            <div class="card">#}
{#                <div class="card-header" id="heading6">#}
{#                  <h5 class="mb-0">#}
{#                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">#}
{#                      Tokenizing#}
{#                    </button>#}
{#                  </h5>#}
{#                </div>#}
{#                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">#}
{#                  <div class="card-body">#}
{#                    #}
{#                    <table class="table table-sm bordered table-condensed">#}
{#                          <thead>#}
{#                            <tr>#}
{#                                <td><strong>Customer Review</strong></td>#}
{#                                <td><strong>Sentiment</strong></td>#}
{#                              </tr>#}
{#                          </thead>#}
{#                          <tbody>#}
{#                          {% for book in token %}#}
{#                              <tr>#}
{#                                <td>{{ token.Review }}</td>#}
{#                                <td>{{ token.Sentiment }}</td>#}
{#                              </tr>#}
{#                          {% endfor %}#}
{#                         </tbody>#}
{#                       </table>#}
{#                  </div>#}
{#                </div>#}
{#                </div>#}
              <div class="card">
                <div class="card-header" id="heading10">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                      Stemming
                    </button>
                  </h5>
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
                  <div class="card-body">

                    <table class="table table-sm bordered table-condensed">
                          <thead>
                            <tr>
                                <td><strong>Customer Review</strong></td>
                                <td><strong>Sentiment</strong></td>
                              </tr>
                          </thead>
                          <tbody>
                          {% for book in stemming %}
                              <tr>
                                <td>{{ stemming.Review }}</td>
                                <td>{{ stemming.Sentiment }}</td>
                              </tr>
                          {% endfor %}
                         </tbody>
                       </table>

                  </div>
                </div>
                </div>
  </div>
  </div>
</div>
</div>
 
</section>
 <br></br>

<!--////////////////////////////-->

    <section id="classification">

    <div class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <H1 class="mr-3" alt="" width="48" height="48">C</H1>
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Classification</h6>
          <small>Book Classification</small>
        </div>
    </div>
  
    <div class="row">
    <div class="col-md-6 mx-auto" style="text-align:center;">
    
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow"> 
          <h5 class="mb-0 text-white lh-100">Naive Bayes</h5>
    </div>
{#         {% for book in predictions %}#}
             <pre><code>{{ predictions }}</code></pre>
{#         {% endfor %}#}

    </div>
          <div class="col-md-6 mx-auto" style="text-align:center;">

        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
                  <h5 class="mb-0 text-white lh-100">Support Vector Machine</h5>
        </div>
{#      {% for book in svc_predict %}#}
          <pre><code>{{ svc_predict }}</code></pre>
{#      {% endfor %}#}

          </div>
        </div>
      </div>
     <br></br>
    </section>

   <section id="evaluation">
    <div class="container">
     <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <H1 class="mr-3" alt="" width="48" height="48">E</H1>
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Evaluation</h6>
          <small>Book Classification</small>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 mx-auto" style="text-align:center;">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
              <h5 class="mb-0 text-white lh-100">Naive Bayes</h5>
            </div>

            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
              <h5 class="mb-0 text-white lh-100">Confusion Matrix</h5>
            </div>
            <pre><code>{{ matrix }}</code></pre>
            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
              <h5 class="mb-0 text-white lh-100">Classification Report</h5>
            </div>
            <pre><code>{{ report }}</code></pre>

          </div>
      <div class="col-md-6 mx-auto" style="text-align:center;">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
              <h5 class="mb-0 text-white lh-100">Support Vector Machine</h5>
            </div>

             <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
            <h5 class="mb-0 text-white lh-100">Confusion Matrix</h5>
            </div>
            <pre><code>{{ mat_svc }}</code></pre>
            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-grey rounded box-shadow">
            <h5 class="mb-0 text-white lh-100">Classification Report</h5>
            </div>
            <pre><code>{{ rep_svc }}</code></pre>
          </div>
        </div>
      </div>
       <br/><br/>
    </section>

    <section id="contact">
      <div class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <H1 class="mr-3" alt="" width="48" height="48">A</H1>
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">About</h6>
          <small>Book Classification</small>
        </div>
        </div>

        <div class="row">
          <div class="col-lg-8 mx-auto" style="text-align:center;">
            <p class="lead">This project was developed using Django, Python Natural Language Toolkit.
             Book sentiment is trained on a 5,000 book review training set.</p>
{#             <img src="http://localhost:8000/_Matplotlib/Bar/" />#}
          </div>
        </div>
      </div>
       <br></br>
    </section>

      </main>
    </div>
  </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Developed by TA-02</p>
      </div>
      <!-- /.container -->
    </footer>
   

    <!-- Bootstrap core JavaScript -->
    
    <!--<link rel="stylesheet" type="text/css" href="{% static 'startbootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" />-->
    
    <script src="{% static 'startbootstrap-scrolling-nav-gh-pages/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'startbootstrap-scrolling-nav-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'startbootstrap-scrolling-nav-gh-pages/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'startbootstrap-scrolling-nav-gh-pages/js/scrolling-nav.js' %}"></script>

  </body>

  <script type="text/javascript">
    $(function() {

    var $sidebar   = $("#sideNav"), 
        $window    = $(window),
        offset     = $sidebar.offset(),
        topPadding = 50;

    $window.scroll(function() {
        if ($window.scrollTop() > offset.top) {
            $sidebar.stop().animate({
                marginTop: $window.scrollTop() - offset.top + topPadding
            });
        } else {
            $sidebar.stop().animate({
                marginTop: 0
            });
        }
    });
    
});
  </script>

</html>
  